* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #F9A825;
    color: #000000;
    padding: 10px;
    z-index: 999;
    transition: width 0.3s ease;
    width: 50px;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.navbar.active {
    width: 200px;
}

.navbar-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}

.navbar.active .navbar-menu {
    opacity: 1;
}

.navbar-menu li {
    margin: 20px 30%;
}

.navbar-menu li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    font-size: 1.5rem;
}

.navbar-menu li a:hover {
    text-decoration: underline;
}


.navbar.active {
    width: 200px;
}

.navbar-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}

.navbar.active .navbar-menu {
    opacity: 1;
}


.content {
    position: relative;
}

.content h1 {
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
    }

    .navbar.active {
        width: 100%;
        height: 100vh;
    }

    .content h1 {

    }
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-home {
    background-color: #F9A825;
    overflow: hidden;
}

.parallax {
    background-image: url("bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("bg-1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    text-align: center;
    color: #000000;
    z-index: 1;
}

.inner-content {
    max-width: 300px;
}

.inner-content h1 {
    font-size: 2.8rem;
}

.section-info {
    background-color: #fff;
    color: #333;
}

.section-guide {
    color: #ffffff;
}

.section-contact {
    background-color: #333;
    color: #fff;
}